<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/style/candlestick.css">
<body>
<!--
	<script src="http://d3js.org/d3.v3.min.js"></script>
-->
	<script src="/static/vendor/d3/3.5.6/d3.min.js"></script>
	<script src="/static/vendor/techan-0.5.0/techan.min.js"></script>
	<script>
		
		var req_symbol = '{{ symbol }}';
		var req_mindate = '{{ mindate }}';
		var req_maxdate = '{{ maxdate }}';
		
	</script>
	<script src="/static/js/candlestick.js"></script>
</body>
